@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#ff7800;
    --red:#922B21;
    --pearl: #FFEFD5;
    --green:#00ff00;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:.0 .5rem 1rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0%; 
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

section {
  padding: 3rem 9%;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #222;
}

.title span {
  color: var(--red);
  padding-left: .7rem;
}

.title a {
  margin-left: auto;
  color: #666;
  font-size: 1.5rem;
}

.title a:hover {
  color: var(--red);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background: black;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    background:var(--red);
}

body{
    background: var(--pearl);
}

.heading1{
    text-align: center;  
    padding:2.5rem 0;
    margin-top: 14rem;
  }
  
  .heading1 span{
    font-size: 3.5rem;
    background:rgba(255, 165, 0,.2);
    color:var(--black);
    border-radius: .5rem;
    padding:.2rem 1rem;
  }
  
  .heading1 span.space{
    background:none;
  }

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--grey); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--red); 
}

.container{
    text-align: center;
}

.container .box{
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    color: #222;
    text-transform: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 800px;
}

.container label{
    font-size: 1.6rem;
    font-weight: 600;
}