@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#ff7800;
    --red:#922B21;
    --pearl: #FFEFD5;
    --green:#00ff00;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:.0 .5rem 1rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0; 
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background-color: #eee;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 15%;
    z-index: 1000;
    background: #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* padding: 2rem 17%; */
  }

.header span{
    position: fixed;
    left: 25rem;
    font-size: 3.5rem;
}


/* .big-menu{
    position: fixed;
    top: 15%; left: 13.7%; right: 0;
    height:70px;
    z-index:100;
}

.big-menu .navbar{
    display: flex;
    background: blue;
}

.big-menu .navbar a{
    flex: 1;
    text-align: center;
    font-size: 20px;
    line-height: 70px;
    color: #fff;
}

.big-menu .navbar a:hover{
    filter:brightness(.9);
}

.big-menu .navbar a:nth-child(1){background: #e74c4c;}
.big-menu .navbar a:nth-child(2){background: #27ae60;}
.big-menu .navbar a:nth-child(3){background: #2980b9;}
.big-menu .navbar a:nth-child(4){background: #8e44ad;}
.big-menu .navbar a:nth-child(5){background: #f39c12;}

.container{
    display: flex;
    width:500%;
    height:100vh;
}

.container .section{
    display: flex;
    width:20%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 12vw;
    letter-spacing: .4rem;
    color:#fff;
    text-transform: uppercase;
    font-weight:bolder;
}

.container .section:nth-child(1){background: #e74c4c;}
.container .section:nth-child(2){background: #27ae60;}
.container .section:nth-child(3){background: #2980b9;}
.container .section:nth-child(4){background: #8e44ad;}
.container .section:nth-child(5){background: #f39c12;} */

textarea{
    resize: none;
    height: 100px;
    width: 700px;
}

.side-menu-bar {
    position: fixed;
    z-index: 1001;
    left: 0%;
    height: 100%;
    max-width: 205px;
    background-color: var(--red);
}

.side-menu-bar .logo{
    margin: 20px;
}

.side-menu-bar .menu-container{
    padding:10px;
}

.side-menu-bar img{
    margin: 0 10px; 
    border: 2px solid var(--pearl);
    border-radius: 50%;
}

.side-menu-bar .menu{
    text-align: center;
    font-size: 2rem;
    color: var(--pearl);
    display: block;
    margin: 10px 0px;
    justify-content: space-between;
}

.profile-form-container{
    margin: auto;
    max-width: 700px;
    border-radius: 3px;
}

.profile-form-container label{
    font-size: 2rem;
    padding: 2px;
}

.profile-form-container input[type=text], textarea{
    font-size: 1rem;
    padding: 4px;
    margin: 2px;
    border-radius: 4px;
    border: 2px solid var(--orange);
}

.profile-form-container .form-group .input{
    display: block;
}

.profile-form-container img{
    border: 2px solid var(--red);
    border-radius: 4px;
}

.profile-form-container .grid-container{
   margin-top: 10px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
   grid-auto-rows: minmax(100px, auto);
}


.profile-form-container .form-group .image{
    display: inline-block;
    text-align: right;
    background-position: center;
    background-size: cover;
    width:220px; height:135px;
    margin: 5px;
    border: 1px solid var(--red);
    border-radius: 4px;
}

.profile-form-container .form-group .image i{
    background-color:white;
    font-size: 1.5rem;
    padding:4px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}

.profile-form-container .form-group .image i:hover{
    font-size: 2rem;
}

.profile-form-container .form-group .add-new{
    text-align: center;
    line-height: 130px;
    width:220px; height:135px;
    margin: 5px;
    background-color: #d1d8d1;
    border-radius: 4px;
    font-size: 5rem;
    cursor: pointer;
}

.profile-form-container .form-group .add-new:hover{
    transform: linear 1s;
    font-size: 7rem;
}

.profile-form-container span.error, i{
    font-size: 1.5rem;
}
.profile-form-container span.error{
    color: red;
}


.profile-form-container button{
    font-size: 2rem;
    box-shadow: var(--box-shadow);
    border: 1px solid red;
}

