@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#ff7800;
    --red:#922B21;
    --grey: #F0F0F0;
    --pearl: #FFEFD5;
    --green:#00ff00;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:.0 .5rem 1rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0; 
    box-sizing: border-box;
    outline: none; border: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background-color: #eee;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background: black;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    background:var(--red);
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--grey); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--red); 
  }

  .container{
      margin-top: 12rem;
      margin-left: 20.3rem;
      position: fixed;
      overflow: scroll;
      height: 100%; 
  }

    .background{
      padding-top: 20rem;        
      align-items: center;
      opacity: 0.8;
    }

    .profile-header {
        background: linear-gradient(87deg, #FFEFD5 0, red 100%);
        width: 100%;
        display:flex;
        height: 190px;
        position: fixed;
        z-index: 9999;
        box-shadow: 0px 5px 10px  rgba(0, 0, 0, .2);
    }

    .profile-img{
        float: left;
        width: 340px;
        height: 200px;
    }

    .profile-img img{
        border-radius: 50%;
        height: 230px;
        border: 4px solid #fff;
        box-shadow: 0px 5px 10px rgba(0,0,0,.2);
        position: absolute;
        left: 50px;
        top: 20px;
        z-index: 5;
    }
    
    .profile-nav-info{
        float: left;
        flex-direction: column;
        justify-content: center;
        padding-top: 60px;
    }

    .profile-nav-info h3{
        font-variant: small-caps;
        font-size: 2rem;
        font-family: sans-serif;
        font-weight: bold;
    }

    .profile-nav-info .address{
        display: flex;
        font-weight: bold;
        font-size: 1.5rem;
        color: #777;
    }

    .profile-nav-info .address p{
        margin-right: 5px;
    }

    .profile-book{
        width: 150px;
        height: 40px;
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-bd{
        margin-top: 17rem;
        width: 100%;
        display: flex;
        padding-right: 15px;   
        overflow: scroll;
        height: 100%; 
    }

    .profile-side{
        width: 1300px;
        background: white;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
        padding: 90px 30px 20px;
        margin-left: 10px;
        z-index: 99;
    }

    .profile-side p{
        margin-bottom: 7px;
        color: black;
        font-size: 18px;
        text-transform: none;
    }

    .profile-side p i{
        color: var(--red);
        margin-right: 10px;
    }
    
    .mobile-no i{
        transform: rotateY(180deg);
    }

    #see-more-bio,
    #see-less-bio{
      color: var(--red);
      cursor: pointer;
      text-transform: lowercase;
    }

    hr {    
      border: 0;
      border-top: 2px solid rgba(0, 0, 0, .1);
    }

    .hr1{
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    .performance-detail-part1,
    .performance-detail-part2,
    .performance-detail-part3{
      padding-bottom: 2rem;
    }
  
    .performance label{
      font-size: 18px;
    }

    
    .performance .lbl-performance-type{
      padding-right: 20rem;
    }

    .performance .lbl-performance-service{
      padding-right: 17.5rem;
    }

    .performance .lbl-performance-description{
      padding-right: 25.5rem;
    }

    .performance .performance-type{
      background: var(--grey);
      width: 250px;
      padding:10px;
      border-bottom: 1px solid black;
      font-size: 1.7rem;
      color:#333;
      text-transform: none;
    }

    .performance .performance-type:focus{
      width: 500px;
    }

    .performance .performance-service{
      background: var(--grey);
      width: 250px;
      padding:10px;
      border-bottom: 1px solid black;
      font-size: 1.7rem;
      color:#333;
      text-transform: none;
    }

    .performance .performance-service:focus{
      width: 500px;
    }
    
    .performance .performance-description{
      background: var(--grey);
      width: 500px;
      padding:10px;
      border-bottom: 1px solid black;
      font-size: 1.7rem;
      color:#333;
      text-transform: none;
      justify-content: center;
    }

    /* Image slider1 start */
    .slider1{
      position: relative;
      background: var(--red);
      width: 1000px;
      min-height: 500px;
      margin: 20px;
      overflow: hidden;
      border-radius: 10px;
      left: 10%;
    }

    .slider1 h1{
      background: white;
    }

    .slider1 .slide{
      position: absolute;
      width: 100%;
      height: 100%;
      clip-path: circle(0% at 0 50%);
    }

    .slider1 .slide.active{
      clip-path: circle(150% at 0 50%);
      transition: 2s;
    }

    .slider1 .slide img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;

    }

    .slider1 .slide .info{
      position: absolute;
      color: black;
      background: rgba(255, 255, 255, 0.3);
      width: 50%;
      margin-top: 30px;
      margin-left: 30px;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
    }

    .slider1 .slide .info h2{
      font-size: 2rem;
      font-weight: 1000;
    }

    .slider1 .slide .info p{
      font-size: 1.5rem;
      font-weight: 600;
    }

    .navigation{
      height: 500px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    .slider1:hover .navigation{
      opacity: 1;
    }

    .prev-btn,
    .next-btn{
      z-index: 999;
      font-size: 2em;
      color: black;
      background: rgba(255, 255, 255, 0.8);
      padding: 10px;
      cursor: pointer;
    }

    .prev-btn{
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    .next-btn{
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    .prev-btn:hover, .next-btn:hover {
      background-color: var(--red);
    }

    .navigation-visibility{
      z-index: 999;
      display: flex;
      justify-content: center;
    }

    .navigation-visibility .slide-icon{
      z-index: 999;
      background: rgba(255, 255, 255, 0.5);
      width: 20px;
      height: 10px;
      transform: translateY(-50px);
      margin: 0 6px;
      border-radius: 2px;
      box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .navigation-visibility .slide-icon.active{
      background: var(--red);

    }
    /* Image-slider1 End */

    .slideshow-container {
        max-width: 1000px;
        position: relative;
        width: 1000px;
        min-height: 600px;
        margin: 20px;
        overflow: hidden;
        border-radius: 10px;
        left: 10%;
        object-fit: cover;
        margin-bottom: 30rem;
      }

      .slideshow-container h1{
        background: white;
        object-fit: cover;
      }

      .slideshow-container .mySlides{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      /* Next & previous buttons */
      .prev, .next {
        background: rgba(255, 255, 255, 0.8);
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: black;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover, .next:hover {
        background-color: var(--red);
      }
      
      /* Caption text */
      .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
      /* The dots/bullets/indicators */
      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot:hover {
        background-color: #717171;
      }
      
      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) {
        .prev, .next,.text {font-size: 11px}
      }
      