@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#ff7800;
    --red:#922B21;
    --pearl: #FFEFD5;
    --green:#00ff00;
    --black:#130f40;
    --lightgreen:#00FF00;
    --light-color:#666;
    --box-shadow:.0 .5rem 1rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0; 
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background-color: #eee;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 15%;
    z-index: 1000;
    background: #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* padding: 2rem 17%; */
  }

.header span{
    position: fixed;
    left: 25rem;
    font-size: 3.5rem;
}

.header h1{
  position: fixed;
  right: 10rem;
  font-size: 3.5rem;
}

textarea{
    resize: none;
    height: 100px;
    width: 700px;
}

.side-menu-bar {
    position: fixed;
    z-index: 1001;
    left: 0%;
    height: 100%;
    max-width: 205px;
    background-color: var(--red);
}

.side-menu-bar .logo{
    margin: 20px;
}

.side-menu-bar a:hover{
    transform: scale(1.3);
}

.side-menu-bar .menu-container{
    padding:10px;
}

.side-menu-bar img{
    margin: 0 10px; 
    border: 2px solid var(--pearl);
    border-radius: 50%;
}

.side-menu-bar .menu{
    text-align: center;
    font-size: 2rem;
    color: var(--pearl);
    display: block;
    margin: 10px 0px;
    justify-content: space-between;
}

.side-menu-bar h1{
    margin-top: 55px;
    margin-left: 50px;
    color: white;
}

.side-menu-bar p{
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background: black;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    background:var(--red);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 55px;
    margin-top: 10px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--lightgreen);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--lightgreen);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .header .navbar_right{
    position: fixed;
    right: 5rem;
    font-size: 3.5rem;
    display: flex;
  }
  
  .header .navbar_right img{
    width: 500px;
  }
  
  .header .navbar_right .icon_wrap{
    cursor: pointer;
    color: black;
  }

  .header .navbar_right .icon_wrap:hover{
    color: var(--red);
  }
  
  .header .navbar_right .notifications{
    margin-right: 25px;
  }
  
  .header .navbar_right .notifications .icon_wrap{
    font-size: 30px;
  }
  
  .header .navbar_right .notifications{
    position: relative;
  }
  

  
  .notification_dd{
    position: absolute;
    z-index: 9999;
    top: 48px;
    right: -15px;
    user-select: none;
    background: #fff;
    border: 1px solid #c7d8e2;
    display: none;
    width: 350px;
    height: auto;
    border-radius: 3px;
    box-shadow: 10px 10px 35px rgba(0,0,0,0.125),
                -10px -10px 35px rgba(0,0,0,0.125);
  }
  
  .notification_dd:before{
      content: "";
      position: absolute;
      top: -20px;
      right: 15px;
      border: 10px solid;
      border-color: transparent transparent #fff transparent;
  }
  
  .notification_dd li {
      border-bottom: 1px solid #f1f2f4;
      padding: 10px 20px;
      display: flex;
      align-items: center;
  }
  
  .notification_dd li .notify_icon{
    display: flex;
  }
  
  .notification_dd li .notify_icon .icon{
    display: inline-block;
    background: url('https://i.imgur.com/MVJNkqW.png') no-repeat 0 0;
    width: 40px;
    height: 42px;
    position: inherit;
  }
  
  .notification_dd li.baskin_robbins .notify_icon .icon{
    background-position: 0 -43px;
  }
  
  .notification_dd li.mcd .notify_icon .icon{
    background-position: 0 -86px;
  }
  
  .notification_dd li.pizzahut .notify_icon .icon{
    background-position: 0 -129px;
  }
  
  .notification_dd li.kfc .notify_icon .icon{
    background-position: 0 -178px;
  }
  
  .notification_dd li .notify_data{
    margin: 0 15px;
    width: 185px;
  }
  
  .notification_dd li .notify_data .title{
    color: #000;
    font-weight: 600;
    font-size: 14px;
  }
  
  .notification_dd li .notify_data .sub_title{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
  }
  
  .notification_dd li .notify_status p{
    font-size: 12px;
  }
  
  .notification_dd li.success .notify_status p{
    color: #47da89;
  }
  
  .notification_dd li.failed .notify_status p{
    color: #fb0001;
  }
  
  .notification_dd li.show_all{
    padding: 20px;
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  
  .notification_dd li.show_all p{
    font-weight: 700;
    color: var(--red);
    cursor: pointer;
  }
  
  .notification_dd li.show_all p:hover{
    text-decoration: underline;
  }

  .navbar .navbar_right .icon_wrap:hover,
  .navbar .navbar_right .notifications.active .icon_wrap{
    color: var(--red);
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
    display: none;
}

.popup .shadow {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.popup .inner_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: auto;
}

.popup .notification_dd{
  display: block;
  position: static;
  margin: 0 auto;
  height: 357px;
  overflow: auto;
}

.popup .notification_dd:before{
   display: none;
}

.popup .notification_dd li.title{
  font-weight: 700;
  color: var(--red);
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 16px;
}

.popup .notification_dd li.title .close{
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.popup .notification_dd li.title .close:hover{
  opacity: 0.5;
}

#logout{
    margin-top: 15rem;
  }